/* Default */
:root {
    --color-success: #21B59C;
    --color-primary: #ddc2ac;
    --color-secondary: #293ee7;
    --color-error: #FF595E;
    --color-warning: #FAA916;
    --color-background-light: #f0f5f7;
    --color-paper-light: #ffffff;
    --color-background-dark: #152335;
    --color-paper-dark: #1f2f44;
    --font-family: 'OxaniumFira', 'Inter', 'Rubik', 'Segoe UI';
    --root-margin: 1rem;
    --border-radius: 8px;
    --input-button-height: 48px;
    --text-accent: #EBEBEB;
    --text-faint: rgba(33, 181, 156, 0.6);
    --text-selection: rgba(33, 181, 156, 0.3);
    --background-tertiary: #1f2f44;
    --background-settings: #1f2f44;
    --background-settings-alt: #212A34;
    --background-settings-2: #1f2f44;
    --background-primary: #000000;
    --background-secondary: #212A34;
    --background-transparent: #212A3400;
    --background-modifier-hover: rgba(33, 181, 156, 0.15);
    --background-modifier-message: #1f2f44;
    --link-external-color: #FFA500;
    --link-external-color-hover: #FFA500;
    --internal-link-hover: #ffc400;
    --inlink-color: #FFA500;
    --outlink-color: #ffc400;
    --bulletlist-color: #21B59C;
    --h1-glow: #21B59C;
    --h2-glow: #0cd0d0;
    --h3-glow: #00d200;
    --h4-glow: #ffc400;
    --h5-glow: #FF0000;
    --h6-glow: #FF00FF;
    --h1-size: 34px;
    --h2-size: 26px;
    --h3-size: 22px;
    --h4-size: 18px;
    --h5-size: 18px;
    --h6-size: 18px;
    --radius-s: 3px;
    --radius-m: 3px;
    --radius-l: 10px;
    --radius-xl: 3px;
}

/* General styles */
body {
    background-color: none;
    color: var(--text-accent);
    margin: 0 !important;
    min-height: 100%;
}

.status.error {
    background-color: var(--color-error-light);
    color: var(--color-error);
}

.discussed {
    background-color: var(--color-discussed-light) !important;
    color: var(--color-discussed) !important;
}

.headernavibar {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.headernavibar_items {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.headernavibar_fetch_tasks {
    background-color: var(--background-secondary);
    color: var(--text-accent);
    border: 0.11px dotted var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    text-align: center;
    font-size: var(--font-size-small);
    font-weight: bold;
    margin-top: var(--margin-top);
}

.headernavibar_fetch_tasks:hover {
    background-color: var(--color-secondary);
}

.headernavibar_fetch_tasks button {
    background-color: var(--background-tertiary);
}

.headernavibar_fetch_tasks button:hover {
    background-color: var(--color-secondary);
}

.headernavibar_tasklist {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.headernavibar_tabs {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.fetch-tasks-button {
    background-color: var(--background-tertiary);
}

.fetch-tasks-button:hover {
    background-color: var(--color-secondary);
}

.conversation-step-1 {
    background-color: var(--color-step-1);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.conversation-step-2 {
    background-color: var(--color-step-2);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.conversation-step-3 {
    background-color: var(--color-step-3);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.headernavibar_context {
    background-color: var(--background-tertiary);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.headernavibar_context .MuiAccordionDetails-root {
    background-color: var(--background-accordion);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-image: linear-gradient(var(--background-accordion), var(--background-accordion-transparent));
}

.headerlogo {
    margin-top: var(--margin-none);
    margin-bottom: var(--margin-none);
    padding: var(--padding-none);
    margin-left: var(--margin-none);
    margin-right: var(--margin-none);
    font-size: var(--font-size-small);
    font-weight: bold;
}

.header2logo {
    margin-top: var(--margin-negative);
    margin-bottom: var(--margin-none);
    padding: var(--padding-none);
    margin-left: var(--margin-none);
    margin-right: var(--margin-none);
    font-size: var(--font-size-small);
    font-weight: bold;
}

.conversation-step-response-1,
.conversation-step-response-2,
.conversation-step-response-3 {
    background-color: var(--background-none);
    color: var(--text-accent);
    text-align: left;
    padding: var(--padding);
}

.conversation-step-input-1,
.conversation-step-input-2,
.conversation-step-input-3 {
    color: var(--color-input);
    text-align: center;
    padding: var(--padding);
    border-bottom: 2px solid var(--border-color-input);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.conversation-step-prompt-1,
.conversation-step-prompt-2,
.conversation-step-prompt-3 {
    color: var(--color-prompt);
    text-align: left;
    padding: var(--padding);
    border-bottom: 2px solid var(--border-color-prompt);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.conversation-step-output-1,
.conversation-step-output-2,
.conversation-step-output-3 {
    color: var(--color-output);
    text-align: center;
    padding: var(--padding);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.conversation-step-layout-1,
.conversation-step-layout-2,
.conversation-step-layout-3 {
    background: radial-gradient(circle, var(--background-layout) 50%, var(--background-layout-transparent) 100%);
    color: var(--text-accent);
    text-align: center;
    padding: var(--padding);
    margin-top: var(--margin-top);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.MuiAccordionSummary-content {
    color: var(--text-accent);
}

.sidebar {
    background-color: var(--background-transparent);
    color: var(--text-accent);
    min-height: 100%;
}

.secondary {
    background-color: var(--color-secondary);
}

.secondary:hover {
    background-color: var(--color-secondary);
}

.card {
    background-color: var(--background-primary);
    color: var(--text-accent);
}

.card-bg {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

#root {
    background-color: var(--background-primary);
    margin: 0 !important;
}

.headernavibar_cards {
    background-color: var(--background-cards);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    border: 0.11px dotted var(--border-color);
    padding: var(--padding);
    text-align: center;
    height: 100%;
    font-size: var(--font-size-large);
    font-weight: bold;
}

.main-content {
    background-color: var(--background-none);
    color: var(--text-accent);
    padding-right: var(--padding);
    padding-top: var(--padding);
    margin-top: var(--margin-top);
    margin-right: var(--margin-right);
}

.conversation-step-1 .MuiAccordionDetails-root,
.conversation-step-2 .MuiAccordionDetails-root,
.conversation-step-3 .MuiAccordionDetails-root {
    background-color: var(--background-accordion);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-image: linear-gradient(var(--background-accordion), var(--background-accordion-transparent));
}

.headernavibar_workflow {
    background-color: var(--background-tertiary);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.headernavibar_workflow .MuiAccordionDetails-root {
    background-color: var(--background-accordion);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    background-image: linear-gradient(var(--background-accordion), var(--background-accordion-transparent));
}

.context_container {
    background-color: transparent;
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.graph_container {
    background-color: var(--background-transparent);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}

.scenario_selector_container {
    background-color: var(--background-transparent);
    color: var(--text-accent);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}