/* Default */
:root {
    --color-success: #21B59C;
    --color-primary: #ddc2ac;
    --color-secondary: #293ee7;
    --color-error: #FF595E;
    --color-warning: #FAA916;
    --color-background-light: #f0f5f7;
    --color-paper-light: #ffffff;
    --color-background-dark: #152335;
    --color-paper-dark: #1f2f44;
    --font-family: 'OxaniumFira', 'Inter', 'Rubik', 'Segoe UI';
    --root-margin: 1rem;
    --border-radius: 8px;
    --input-button-height: 48px;
    --text-accent: #EBEBEB;
    --text-faint: rgba(33, 181, 156, 0.6);
    --text-selection: rgba(33, 181, 156, 0.3);
    --background-tertiary: #1f2f44;
    --background-settings: #1f2f44;
    --background-settings-alt: #212A34;
    --background-settings-2: #1f2f44;
    --background-primary: #000000;
    --background-secondary: #212A34;
    --background-transparent: #212A3400;
    --background-modifier-hover: rgba(33, 181, 156, 0.15);
    --background-modifier-message: #1f2f44;
    --background-data-view: #1f2f4476;
    --background-scenario-view: #7700ff;
    --link-external-color: #FFA500;
    --link-external-color-hover: #FFA500;
    --internal-link-hover: #ffc400;
    --inlink-color: #FFA500;
    --outlink-color: #ffc400;
    --bulletlist-color: #21B59C;
    --h1-glow: #21B59C;
    --h2-glow: #0cd0d0;
    --h3-glow: #00d200;
    --h4-glow: #ffc400;
    --h5-glow: #FF0000;
    --h6-glow: #FF00FF;
    --h1-size: 34px;
    --h2-size: 26px;
    --h3-size: 22px;
    --h4-size: 18px;
    --h5-size: 18px;
    --h6-size: 18px;
    --radius-s: 3px;
    --radius-m: 3px;
    --radius-l: 10px;
    --radius-xl: 3px;
}

.data_node_view {
    background-color: var(--background-data-view);
}
