/* Default */
:root {
    --color-success: #21B59C;
    --color-primary: #ddc2ac;
    --color-secondary: #293ee7;
    --color-error: #FF595E;
    --color-warning: #FAA916;
    --color-background-light: #f0f5f7;
    --color-paper-light: #ffffff;
    --color-background-dark: #152335;
    --color-paper-dark: #1f2f44;
    --font-family: 'OxaniumFira', 'Inter', 'Rubik', 'Segoe UI';
    --root-margin: 1rem;
    --border-radius: 8px;
    --input-button-height: 48px;
    --text-accent: #EBEBEB;
    --text-faint: rgba(33, 181, 156, 0.6);
    --text-selection: rgba(33, 181, 156, 0.3);
    --background-tertiary: #1f2f44;
    --background-settings: #1f2f44;
    --background-settings-alt: #212A34;
    --background-settings-2: #1f2f44;
    --background-primary: #1E1611;
    --background-secondary: #212A34;
    --background-modifier-hover: rgba(33, 181, 156, 0.15);
    --background-modifier-message: #1f2f44;
    --link-external-color: #FFA500;
    --link-external-color-hover: #FFA500;
    --internal-link-hover: #ffc400;
    --inlink-color: #FFA500;
    --outlink-color: #ffc400;
    --bulletlist-color: #21B59C;
    --h1-glow: #21B59C;
    --h2-glow: #0cd0d0;
    --h3-glow: #00d200;
    --h4-glow: #ffc400;
    --h5-glow: #FF0000;
    --h6-glow: #FF00FF;
    --h1-size: 34px;
    --h2-size: 26px;
    --h3-size: 22px;
    --h4-size: 18px;
    --h5-size: 18px;
    --h6-size: 18px;
    --radius-s: 3px;
    --radius-m: 3px;
    --radius-l: 10px;
    --radius-xl: 3px;
}

/* General styles */
body {
    background-color: var(--background-primary);
    background-color: #000000;
    color: var(--text-accent);
    margin: 0 !important;
}

.status.error {
    background-color: #f2dede;
    color: #a94442;
}

.discussed {
    background-color: #d9edf7 !important;
    color: #5cf463 !important;
}

.headernavibar {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.headernavibar_items {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.headernavibar_fetch_tasks {
    background-color: var(--background-secondary);
    color: var(--text-accent);
    border: 0.11px dotted rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

.headernavibar_fetch_tasks:hover {
    background-color: #083d6b;
}

.headernavibar_fetch_tasks button {
    background-color: var(--background-tertiary);

}

.headernavibar_fetch_tasks button:hover {
    background-color: #083d6b;
}

.headernavibar_tasklist {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.headernavibar_tabs {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

.fetch-tasks-button {
    background-color: var(--background-tertiary);

}

.fetch-tasks-button:hover {
    background-color: #083d6b;
}

.conversation-step-1 {
    background-color: #3858ba26;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.conversation-step-2 {
    background-color: #3895ba26;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.conversation-step-3 {
    background-color: #38ba9c26;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.headernavibar_context {
    background-color: #3C3F58;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.headernavibar_context .MuiAccordionDetails-root {
    background-color: #1F1F1F;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(#1F1F1F, #1F1F1F00);
}

.headerlogo {
    margin-top: none;
    margin-bottom: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
    font-weight: bold;
}

.header2logo {
    margin-top: -30px;
    margin-bottom: 0px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
    font-weight: bold;
}

.conversation-step-response-1,
.conversation-step-response-2,
.conversation-step-response-3 {
    background-color: none;
    color: var(--text-accent);
    text-align: left;
    padding: 5px;
}

.conversation-step-input-1,
.conversation-step-input-2,
.conversation-step-input-3 {
    color: #d4d4d499;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid rgba(27, 42, 52, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.conversation-step-prompt-1,
.conversation-step-prompt-2,
.conversation-step-prompt-3 {
    color: #d4d4d499;
    text-align: left;
    padding: 5px;
    border-bottom: 2px solid rgba(20, 42, 52, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.conversation-step-output-1,
.conversation-step-output-2,
.conversation-step-output-3 {
    color: #d4d4d499;
    text-align: center;
    padding: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.conversation-step-layout-1,
.conversation-step-layout-2,
.conversation-step-layout-3 {
    background: radial-gradient(circle, rgba(27, 42, 52, 0.3) 50%, rgba(27, 42, 52, 0) 100%);
    color: var(--text-accent);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.MuiAccordionSummary-content {
    color: var(--text-accent);
}

.sidebar {
    background-color: transparent;
    color: var(--text-accent);
    min-height: 100%;
}

.secondary {
    background-color: #10518C;
}

.secondary:hover {
    background-color: #083d6b;
}

.card {
    background-color: var(--background-primary);
    color: var(--text-accent);
}

.card-bg {
    background-color: var(--background-secondary);
    color: var(--text-accent);
}

#root {
    background-color: var(--background-primary);
    margin: 0 !important;
}

.headernavibar_cards {
    background-color: rgba(255, 255, 255, 0.041);
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    border: 0.11px dotted rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.main-content {
    background-color: none;
    color: var(--text-accent);
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 27px;
    margin-right: 10px;
}

.conversation-step-1 .MuiAccordionDetails-root,
.conversation-step-2 .MuiAccordionDetails-root,
.conversation-step-3 .MuiAccordionDetails-root {
    background-color: #1F1F1F;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(#1F1F1F, #1F1F1F00);
}

.headernavibar_workflow {
    background-color: var(--background-tertiary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.headernavibar_workflow .MuiAccordionDetails-root {
    background-color: #1F1F1F;
    color: var(--text-accent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(#1F1F1F, #1F1F1F00);
}